.header__top-bar {
  height: 35px;
  background-color: #333333;
}

.header__block-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__currency-text {
  font-family: "Montserrat", sans-serif;
  color: #777777;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .header__currency-text {
    font-size: 8px;
  }
}

.header__currency-input {
  background-color: transparent;
  border: solid transparent;
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .header__currency-input {
    font-size: 8px;
  }
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__register {
  color: #999999;
  text-decoration: none;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.54;
}

@media screen and (max-width: 768px) {
  .header__register {
    font-size: 8px;
  }
}

@media screen and (max-width: 375px) {
  .header__register {
    padding-right: 10px;
  }
}

.header__sign {
  padding-right: 30px;
  text-decoration: none;
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.54;
}

@media screen and (max-width: 768px) {
  .header__sign {
    font-size: 8px;
  }
}

@media screen and (max-width: 375px) {
  .header__sign {
    padding-right: 10px;
  }
}

.header__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 35px;
  background-color: #00c8c8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__empty-text {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .header__empty-text {
    font-size: 8px;
  }
}

.header__container {
  background-image: url(../../img/photo.png);
  background-repeat: no-repeat;
  height: 850px;
  background-color: #f8f8f8;
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .header__container {
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    height: 700px;
  }
}

@media screen and (max-width: 425px) {
  .header__container {
    height: 350px;
  }
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.header__logo span {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-right: 150px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    font-size: 12px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li {
  position: relative;
  display: block;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 32px;
}

.header__item-link {
  text-decoration: none;
  padding-left: 25px;
  color: #5b5b5b;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 11px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .header__item {
    display: none;
  }
}

.header__adaptive-menu {
  display: none;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 7px;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header__adaptive-menu i {
  font-size: 20px;
  color: #5b5b5b;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

@media screen and (max-width: 1024px) {
  .header__adaptive-menu {
    display: block;
  }
}

.header__input {
  margin-left: 50px;
  width: 190px;
  height: 30px;
  border: solid 1px #e7e7e7;
  background-color: #f8f8f8;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .header__input {
    width: 120px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header__input {
    display: none;
  }
}

.header__drobdown {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: #f8f8f8;
  width: 467px;
  height: 527px;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 10;
}

@media screen and (max-width: 1398px) {
  .header__drobdown {
    height: 390px;
    width: 350px;
  }
}

.header__drobdown-item {
  list-style: none;
  display: inline-block;
}

.header__drobdown-block {
  position: absolute;
  padding-left: 70px;
}

.header__drobdown-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.67;
  text-align: left;
  color: #575153;
  text-transform: uppercase;
}

@media screen and (max-width: 1398px) {
  .header__drobdown-text {
    font-size: 10px;
  }
}

.header__drobdown-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  text-align: left;
  color: #727272;
  text-decoration: none;
}

@media screen and (max-width: 1398px) {
  .header__drobdown-link {
    font-size: 11px;
  }
}

.header__drobdown-baner {
  width: 407px;
  height: 200px;
  background-color: #333333;
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 1398px) {
  .header__drobdown-baner {
    height: 150px;
    width: 300px;
  }
}

.header__drobdown-sale {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__drobdown-sale p {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  letter-spacing: 1.8px;
  font-weight: 800;
  margin: 0;
}

@media screen and (max-width: 1398px) {
  .header__drobdown-sale p {
    font-size: 30px;
  }
}

.header__text {
  color: #575153;
  font-family: "Montserrat", sans-serif;
  font-size: 350px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__text p {
  margin: 0;
  margin-top: 100px;
}

@media screen and (max-width: 425px) {
  .header__text p {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header__text {
    font-size: 250px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .header__text {
    font-size: 200px;
  }
}

@media screen and (max-width: 425px) {
  .header__text {
    font-size: 100px;
    margin: 0;
  }
}

.header__btn {
  text-align: right;
  margin-right: 132px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .header__btn {
    margin-right: 60px;
  }
}

@media screen and (max-width: 425px) {
  .header__btn {
    margin-right: 30px;
    margin-top: 40px;
  }
}

.header__botton {
  width: 342px;
  height: 59px;
  border: solid 2px #737373;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-align: center;
  color: #454647;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .header__botton {
    width: 240px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 2.2px;
  }
}

@media screen and (max-width: 425px) {
  .header__botton {
    width: 140px;
    height: 30px;
    font-size: 10px;
    letter-spacing: 1.2px;
    border: solid 1px #737373;
  }
}

.menu.active {
  right: 0;
}

.menu {
  position: fixed;
  top: 0;
  right: -310px;
  width: 310px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
  z-index: 100;
  margin-top: 35px;
}

.menu__close {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.menu__close i {
  font-size: 20px;
}

.menu__item {
  list-style: none;
}

.menu__li {
  margin-bottom: 20px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__li i {
  color: #999999;
}

.menu__link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #5b5b5b;
  text-transform: uppercase;
  font-size: 11px;
  padding-right: 5px;
}

.menu__link:hover {
  color: #00c8c8;
}

.menu__drobdown {
  display: none;
  -webkit-box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: #f8f8f8;
  width: 250px;
  margin-top: 10px;
}

.menu__drobdown-item {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 20px;
}

.menu__drobdown-block {
  position: absolute;
  padding-left: 30px;
}

.menu__drobdown-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.67;
  text-align: left;
  color: #575153;
  text-transform: uppercase;
  font-weight: bold;
}

.menu__drobdown-link {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 2.14;
  text-align: left;
  color: #727272;
  text-decoration: none;
}

.menu__drobdown-link:hover {
  color: #00c8c8;
}

.menu__li:hover .menu__drobdown {
  display: block;
}

.header__register:hover {
  color: #00c8c8;
}

.header__sign:hover {
  color: #00c8c8;
}

.fa-shopping-cart {
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .fas {
    font-size: 9px;
  }
}

.fa-angle-down {
  font-weight: 200;
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .fa-angle-down {
    font-size: 9px;
  }
}

.down {
  color: #989898;
  margin-left: 25px;
}

.header__item a:hover {
  color: #00c8c8;
}

.drobdown-lookbook {
  height: 400px;
  width: 420px;
}

@media screen and (max-width: 1398px) {
  .drobdown-lookbook {
    height: 310px;
    width: 320px;
  }
}

.header__li:hover .header__drobdown {
  display: block;
}

.baner-lookbook {
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

@media screen and (max-width: 1398px) {
  .baner-lookbook {
    height: 150px;
    width: 300px;
  }
}

.header__input::-webkit-input-placeholder {
  padding-left: 10px;
  color: #989898;
  font-family: "Montserrat", sans-serif;
}

.fa-search {
  color: #989898;
  margin-left: -30px;
  margin-top: 8px;
  position: absolute;
  font-size: 14px;
  display: block;
}

@media screen and (max-width: 425px) {
  .fa-search::before {
    display: none;
  }
}

.items {
  margin: 0px 50px;
}

@media screen and (max-width: 375px) {
  .items {
    margin: 0px 20px;
  }
}

.items__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.items__nav-link {
  color: #727272;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 0;
  padding-right: 40px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .items__nav-link {
    font-size: 8px;
  }
}

@media screen and (max-width: 425px) {
  .items__nav-link {
    font-size: 5px;
    padding-right: 10px;
  }
}

.items__nav-link:hover {
  color: #00c8c8;
}

.items__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1095px) {
  .items__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.items__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 310px;
          flex: 0 0 310px;
  height: 340px;
  background-color: #f8f8f8;
  margin-top: 15px;
}

@media screen and (max-width: 1427px) {
  .items__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 290px;
            flex: 0 0 290px;
    height: 320px;
  }
}

@media screen and (max-width: 1347px) {
  .items__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
    height: 300px;
  }
}

@media screen and (max-width: 1268px) {
  .items__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    height: 280px;
  }
}

@media screen and (max-width: 1187px) {
  .items__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
    height: 230px;
  }
}

@media screen and (max-width: 1095px) {
  .items__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
            flex: 0 0 310px;
    height: 340px;
  }
}

.items__price {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.05px;
  color: #9a9a9a;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  display: block;
}

.items__price sup {
  font-size: 8px;
}

.items__drobdown {
  display: none;
}

.items__drobdown-block {
  -webkit-box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  height: 120px;
  cursor: pointer;
  position: relative;
  margin-top: 85px;
  z-index: 10;
}

@media screen and (max-width: 1346px) {
  .items__drobdown-block {
    margin-top: 55px;
  }
}

@media screen and (max-width: 1270px) {
  .items__drobdown-block {
    margin-top: 35px;
  }
}

@media screen and (max-width: 1186px) {
  .items__drobdown-block {
    margin-top: 0;
  }
}

@media screen and (max-width: 1186px) {
  .items__drobdown-block {
    margin-top: 85px;
  }
}

.items__drobdown-img {
  text-align: right;
  margin-right: 16px;
  margin-top: -30px;
  margin-bottom: 45px;
}

.items__drobdown-img img:hover {
  border: solid 1px #727272;
}

.items__drobdown-link {
  text-align: center;
  font-size: 40px;
  text-shadow: 0px 2px 12.3px rgba(0, 0, 0, 0.13);
}

.items__drobdown-link i {
  color: #f8f8f8;
}

@media screen and (max-width: 1186px) {
  .items__drobdown-link {
    font-size: 30px;
    margin-top: -40px;
  }
}

@media screen and (max-width: 1186px) {
  .items__drobdown-link {
    font-size: 40px;
    margin-top: 0;
  }
}

.items__drobdown-title {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 1.54;
  text-align: center;
  text-transform: uppercase;
  color: #727272;
  font-weight: 600;
  padding-top: 10px;
}

.items__drobdown-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #8e8c8c;
}

@media screen and (max-width: 1186px) {
  .items__drobdown-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 1096px) {
  .items__drobdown-text {
    font-size: 12px;
  }
}

.items__drobdown-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items__drobdown-botton i {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
  border-radius: 50%;
  background-color: #727272;
  border: solid transparent;
  margin-left: 20px;
  width: 17px;
  height: 17px;
}

.items__drobdown-botton i:hover {
  background-color: #00c8c8;
}

hr {
  color: #eeeeee;
  margin-top: 42px;
  margin-bottom: 30px;
}

.items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 653px;
          flex: 0 0 653px;
  height: 514px;
}

@media screen and (max-width: 1427px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 633px;
            flex: 0 0 633px;
    height: 494px;
  }
}

@media screen and (max-width: 1375px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 613px;
            flex: 0 0 613px;
    height: 494px;
  }
}

@media screen and (max-width: 1347px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 593px;
            flex: 0 0 593px;
    height: 484px;
  }
}

@media screen and (max-width: 1290px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 573px;
            flex: 0 0 573px;
    height: 484px;
  }
}

@media screen and (max-width: 1268px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 553px;
            flex: 0 0 553px;
    height: 464px;
  }
}

@media screen and (max-width: 1210px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 533px;
            flex: 0 0 533px;
    height: 464px;
  }
}

@media screen and (max-width: 1187px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 503px;
            flex: 0 0 503px;
    height: 444px;
  }
}

@media screen and (max-width: 1187px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 483px;
            flex: 0 0 483px;
    height: 444px;
  }
}

@media screen and (max-width: 1095px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 653px;
            flex: 0 0 653px;
    height: 514px;
  }
}

@media screen and (max-width: 654px) {
  .items__list:nth-child(6n+3), .items__list:nth-child(6n+4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
            flex: 0 0 310px;
    height: 340px;
  }
}

.items__list:nth-child(6n+4) {
  margin-top: -140px;
}

@media screen and (max-width: 1347px) {
  .items__list:nth-child(6n+4) {
    margin-top: -150px;
  }
}

@media screen and (max-width: 1187px) {
  .items__list:nth-child(6n+4) {
    margin-top: -180px;
  }
}

@media screen and (max-width: 1095px) {
  .items__list:nth-child(6n+4) {
    margin-top: 34px;
  }
}

.photo-1 {
  background-image: url(../../img/photo1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .photo-1 {
    margin-right: 34px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 754px) {
  .photo-1 {
    margin-left: 36px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 654px) {
  .photo-1 {
    margin: 0 15px;
    margin-top: -10px;
  }
}

.photo-2 {
  background-image: url(../../img/photo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 15px 27px 0;
}

@media screen and (max-width: 1095px) {
  .photo-2 {
    margin: 15px 0;
  }
}

.photo-3 {
  background-image: url(../../img/photo3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 654px) {
  .photo-3 {
    margin-top: 34px;
  }
}

.photo-4 {
  background-image: url(../../img/photo4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.photo-5 {
  background-image: url(../../img/photo5.png);
  position: relative;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 34px;
}

@media screen and (max-width: 1095px) {
  .photo-5 {
    margin-right: 34px;
  }
}

@media screen and (max-width: 754px) {
  .photo-5 {
    margin-left: 36px;
  }
}

@media screen and (max-width: 654px) {
  .photo-5 {
    margin-right: 0 15px;
  }
}

.photo-5:hover .items__drobdown {
  display: block;
  -webkit-box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.14);
}

.photo-6 {
  background-image: url(../../img/photo6.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 34px;
}

.lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
}

@media screen and (max-width: 1409px) {
  .lookbook {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.lookbook__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 463px;
          flex: 0 0 463px;
  height: 430px;
  background-color: #f8f8f8;
}

@media screen and (max-width: 1409px) {
  .lookbook__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    height: 360px;
  }
}

@media screen and (max-width: 480px) {
  .lookbook__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    height: 300px;
  }
}

.lookbook__man {
  background-color: #f8f8f8;
  background-image: url(../../img/REPLACE.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 937px) {
  .lookbook__man {
    margin-bottom: 15px;
  }
}

.lookbook__women {
  background-color: #f8f8f8;
  background-image: url(../../img/REPLACE-copy.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}

@media screen and (max-width: 937px) {
  .lookbook__women {
    margin-left: 0;
  }
}

.lookbook__your {
  background-color: #f8f8f8;
  background-image: url(../../img/photo-silhouette.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
}

@media screen and (max-width: 1218px) {
  .lookbook__your {
    margin-top: 15px;
  }
}

@media screen and (max-width: 937px) {
  .lookbook__your {
    margin-left: 0;
  }
}

.lookbook__block {
  width: 220px;
  text-align: right;
  position: relative;
  left: 45%;
}

@media screen and (max-width: 480px) {
  .lookbook__block {
    width: 170px;
    left: 45%;
  }
}

@media screen and (max-width: 1409px) {
  .lookbook__block {
    left: 40%;
  }
}

.lookbook__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  color: #575153;
  margin-bottom: 0;
  margin-top: 89px;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

@media screen and (max-width: 1409px) {
  .lookbook__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .lookbook__title {
    font-size: 15px;
  }
}

.lookbook__title span {
  font-weight: bold;
}

.lookbook__text {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #727272;
  line-height: 1.47;
}

@media screen and (max-width: 480px) {
  .lookbook__text {
    font-size: 9px;
  }
}

.lookbook__button {
  width: 150px;
  height: 49px;
  border: solid 1px #737373;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #454647;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 13px;
  cursor: pointer;
}

@media screen and (max-width: 1409px) {
  .lookbook__button {
    width: 110px;
    height: 30px;
    font-size: 9px;
  }
}

@media screen and (max-width: 480px) {
  .lookbook__button {
    width: 110px;
    height: 30px;
    font-size: 9px;
  }
}

.lookbook__button:hover {
  background-color: #00c8c8;
  color: #f8f8f8;
  border: transparent solid 0;
}

.footer {
  background-color: #f8f8f8;
  margin-top: 124px;
}

@media screen and (max-width: 1180px) {
  .footer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1020px) {
  .footer {
    margin-top: 40px;
  }
}

@media screen and (max-width: 765px) {
  .footer {
    margin-top: 20px;
  }
}

.footer__conteiner {
  width: 1170px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 1180px) {
  .footer__conteiner {
    width: 1020px;
  }
}

@media screen and (max-width: 1020px) {
  .footer__conteiner {
    width: 760px;
  }
}

@media screen and (max-width: 765px) {
  .footer__conteiner {
    width: 375px;
  }
}

@media screen and (max-width: 374px) {
  .footer__conteiner {
    width: 320px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 765px) {
  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__nav-item {
  list-style: none;
  padding-left: 0;
}

.footer__nav-title {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  line-height: 1.54;
  text-transform: uppercase;
  color: #575153;
  margin-top: 43px;
  margin-bottom: 22px;
}

@media screen and (max-width: 1020px) {
  .footer__nav-title {
    font-size: 10px;
  }
}

@media screen and (max-width: 765px) {
  .footer__nav-title {
    font-size: 5px;
    margin-bottom: 12px;
    margin-top: 23px;
  }
}

.footer__nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  line-height: 2.14;
  color: #727272;
}

@media screen and (max-width: 1020px) {
  .footer__nav-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 765px) {
  .footer__nav-link {
    font-size: 6.5px;
  }
}

@media screen and (max-width: 374px) {
  .footer__nav-link {
    font-size: 5.5px;
  }
}

.footer__nav-link:hover {
  color: #00c8c8;
}

.footer__baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
  margin-top: 45px;
}

@media screen and (max-width: 765px) {
  .footer__baner {
    margin: 15px 0;
  }
}

.footer__baner-award {
  width: 570px;
  height: 200px;
  background-color: #333333;
}

@media screen and (max-width: 1080px) {
  .footer__baner-award {
    width: 505px;
  }
}

@media screen and (max-width: 1020px) {
  .footer__baner-award {
    width: 378px;
    height: 160px;
  }
}

@media screen and (max-width: 765px) {
  .footer__baner-award {
    width: 185px;
    height: 80px;
  }
}

@media screen and (max-width: 374px) {
  .footer__baner-award {
    width: 158px;
  }
}

.footer__baner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 570px;
  height: 200px;
  background-color: #00c8c8;
}

@media screen and (max-width: 1080px) {
  .footer__baner-social {
    width: 505px;
  }
}

@media screen and (max-width: 1020px) {
  .footer__baner-social {
    width: 378px;
    height: 160px;
  }
}

@media screen and (max-width: 765px) {
  .footer__baner-social {
    width: 185px;
    height: 80px;
  }
}

@media screen and (max-width: 374px) {
  .footer__baner-social {
    width: 158px;
  }
}

.footer__baner-text {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  margin: 52px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1020px) {
  .footer__baner-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 765px) {
  .footer__baner-text {
    font-size: 13px;
    margin: 25px 0;
  }
}

@media screen and (max-width: 374px) {
  .footer__baner-text {
    font-size: 10px;
  }
}

.footer__baner-text span {
  font-weight: 900;
}

.footer__baner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.footer__copyright {
  height: 35px;
  background-color: #333333;
}

.footer__copyright-text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #999999;
}

@media screen and (max-width: 1020px) {
  .footer__copyright-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 765px) {
  .footer__copyright-text {
    font-size: 5px;
  }
}

.footer__copyright-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 2.31;
  color: #999999;
  padding-left: 30px;
}

@media screen and (max-width: 1020px) {
  .footer__copyright-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 765px) {
  .footer__copyright-link {
    font-size: 5px;
  }
}

.contact {
  line-height: 1.5;
  font-style: normal;
}

@media screen and (max-width: 765px) {
  .contact {
    margin-top: 20px;
  }
}

.email {
  line-height: 0;
}

.fab {
  font-size: 32px;
  line-height: 1.33;
  letter-spacing: 17px;
  text-align: center;
  color: #ffffff;
  padding: 0 20px;
}

@media screen and (max-width: 1020px) {
  .fab {
    font-size: 25px;
  }
}

@media screen and (max-width: 765px) {
  .fab {
    font-size: 13px;
    letter-spacing: 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 374px) {
  .fab {
    font-size: 10px;
    padding: 0 10px;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 765px) {
  .copyright {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */