.footer{
    background-color: $background;
    margin-top: 124px;

    @media screen and (max-width: 1180px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 1020px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 765px) {
        margin-top: 20px;
    }

    &__conteiner{
        width: 1170px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        @media screen and (max-width: 1180px) {
            width: 1020px;
        }

        @media screen and (max-width: 1020px) {
            width: 760px;
        }

        @media screen and (max-width: 765px) {
            width: 375px;
        }

        @media screen and (max-width: 374px) {
            width: 320px;
        }
    }

    &__nav{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 765px) {
            justify-content: space-around;
        }

        &-item{
            list-style: none;
            padding-left: 0;
        }

        &-title{
            font-family: $font-text;
            font-size: 13px;
            font-weight: bold;
            text-align: left;
            line-height: 1.54;
            text-transform: uppercase;
            color: #575153;
            margin-top: 43px;
            margin-bottom: 22px;

            @media screen and (max-width: 1020px) {
                font-size: 10px;
            }

            @media screen and (max-width: 765px) {
                font-size: 5px;
                margin-bottom: 12px;
                margin-top: 23px;
            }
        }

        &-link{
            font-family: $font-text;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
            text-align: left;
            line-height: 2.14;
            color: #727272;

            @media screen and (max-width: 1020px) {
                font-size: 10px;
            }

            @media screen and (max-width: 765px) {
                font-size: 6.5px;
            }

            @media screen and (max-width: 374px) {
                font-size: 5.5px;
            }
        }

        &-link:hover{
            color: $link-color;
        }
    }

    &__baner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
        margin-top: 45px;

        @media screen and (max-width: 765px) {
            margin: 15px 0;
        }

        &-award{
            width: 570px;
            height: 200px;
            background-color: #333333;

            @media screen and (max-width: 1080px) {
                width: 505px;
            }

            @media screen and (max-width: 1020px) {
                width: 378px;
                height: 160px;
            }

            @media screen and (max-width: 765px) {
                width: 185px;
                height: 80px;
            }

            @media screen and (max-width: 374px) {
                width: 158px;
            }
        }

        &-social{
            display: flex;
            justify-content: center;
            width: 570px;
            height: 200px;
            background-color: $link-color;

            @media screen and (max-width: 1080px) {
                width: 505px;
            }

            @media screen and (max-width: 1020px) {
                width: 378px;
                height: 160px;
            }

            @media screen and (max-width: 765px) {
                width: 185px;
                height: 80px;
            }

            @media screen and (max-width: 374px) {
                width: 158px;
            }
        }

        &-text{
            font-family: $font-text;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.33;
            letter-spacing: 1.2px;
            text-align: center;
            color: #ffffff;
            margin: 52px 0;
            text-transform: uppercase;

            @media screen and (max-width: 1020px) {
                font-size: 25px;
            }

            @media screen and (max-width: 765px) {
                font-size: 13px;
                margin: 25px 0;
            }

            @media screen and (max-width: 374px) {
                font-size: 10px;
            }

            span{
                font-weight: 900;
            }
        }

        &-item{
            display: flex;
            align-items: center;
            list-style: none;
            padding-left: 0;
        }
    }

    &__copyright{
        height: 35px;
        background-color: #333333;

        &-text{
            font-family: $font-text;
            font-size: 13px;
            color: #999999;

            @media screen and (max-width: 1020px) {
                font-size: 10px;
            }

            @media screen and (max-width: 765px) {
                font-size: 5px;
            }
        }

        &-nav{
            display: flex;
        }

        &-link{
            text-decoration: none;
            font-family: $font-text;
            font-size: 13px;
            line-height: 2.31;
            color: #999999;
            padding-left: 30px;

            @media screen and (max-width: 1020px) {
                font-size: 10px;
            }

            @media screen and (max-width: 765px) {
                font-size: 5px;
            }
        }
    }
}

.contact{
    line-height: 1.5;
    font-style: normal;

    @media screen and (max-width: 765px) {
        margin-top: 20px;
    }
}

.email{
    line-height: 0;
}

.fab{
    font-size: 32px;
    line-height: 1.33;
    letter-spacing: 17px;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;

    @media screen and (max-width: 1020px) {
        font-size: 25px;
    }

    @media screen and (max-width: 765px) {
        font-size: 13px;
        letter-spacing: 0;
        padding: 0 10px;
    }

    @media screen and (max-width: 374px) {
        font-size: 10px;
        padding: 0 10px;
    }
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 765px) {
        justify-content: space-around;
        padding-top: 10px;
    }
}