.lookbook{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 42px;

    @media screen and (max-width: 1409px) {
        justify-content: space-evenly;
    }

    &__container{
        flex: 0 0 463px;
        height: 430px;
        background-color: #f8f8f8;

        @media screen and (max-width: 1409px) {
                flex: 0 0 400px;
                height: 360px;
            }

        @media screen and (max-width: 480px) {
            flex: 0 0 320px;
            height: 300px;
        }
    }

    &__man{
        background-color: #f8f8f8;
        background-image: url(/img/REPLACE.png);
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (max-width: 937px) {
            margin-bottom: 15px;
        }
    }

    &__women{
        background-color: #f8f8f8;
        background-image: url(/img/REPLACE-copy.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 10px;

        @media screen and (max-width: 937px) {
            margin-left: 0;
        }
    }

    &__your{
        background-color: #f8f8f8;
        background-image: url(/img/photo-silhouette.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 10px;

        @media screen and (max-width: 1218px) {
            margin-top: 15px;
        }

        @media screen and (max-width: 937px) {
            margin-left: 0;
        }
    }

    &__block{
        width: 220px;
        text-align: right;
        position: relative;
        left: 45%;

        @media screen and (max-width: 480px) {
            width: 170px;
            left: 45%;
        }

        @media screen and (max-width: 1409px) {
            left: 40%;
        }
    }

    &__title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 300;
        color: #575153;
        margin-bottom: 0;
        margin-top: 89px;
        letter-spacing: 1.2px;
        line-height: 1.2;

        @media screen and (max-width: 1409px) {
            font-size: 25px;
        }

        @media screen and (max-width: 480px) {
            font-size: 15px;
        }

        span{
            font-weight: bold;
        }
    }

    &__text{
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        color: #727272;
        line-height: 1.47;

        @media screen and (max-width: 480px) {
            font-size: 9px;
        }
    }
    
    &__button{
        width: 150px;
        height: 49px;
        border: solid 1px #737373;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #454647;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 13px;
        cursor: pointer;

        @media screen and (max-width: 1409px) {
            width: 110px;
            height: 30px;
            font-size: 9px;
        }

        @media screen and (max-width: 480px) {
            width: 110px;
            height: 30px;
            font-size: 9px;
        }
    }

    &__button:hover{
        background-color: #00c8c8;
        color: #f8f8f8;
        border: transparent solid 0;
    }
}